html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

a {
    color: $color__link;
    text-decoration: none;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

h1, h2, h3 {
    color: black;
    font-family: Galano Grotesque, Impact, serif;
}

h1 {
    font-size: $font__size-h1;
    line-height: 62px;
}

h2 {
    font-size: $font__size-h2;
}

h3 {
    font-size: $font__size-h3;
}

hr {
    background-image: linear-gradient(to right, $color__border-button-top, $color__border-button-bottom);
    border: 0;
    height: 10px;
    margin: 20px auto;
    width: 200px;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

p {
    color: $color__text-main;
    font-family: Apercu Pro, Arial, sans-serif;
    font-size: $font__size-medium-plus;
    line-height: 25px;
    &.feature {
        font-size: $font__size-xlarge;
        line-height: $font__size-xxlarge;
    }
}

li {
    font-family: Apercu Pro, Arial, sans-serif;
}