button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.cta-button {
	background: transparent;
	border: 5px solid;
	border-color: $color__border-button-top;
	border-radius: 40px;
	box-sizing: border-box;
	color: white;
	display: block;
	font-size: $font__size-small-plus;
	font-weight: 800;
	height: 45px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 7px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: border-color 0.5s; /* Safari */
    transition: border-color 0.5s;
	width: 250px;
	&.black {
		color: black;
	}
	&.white {
		border-color: white;
		color: white;
	}
	&:hover {
		border-color: $color__border-button-bottom;
	}
}