#hero-photo {
    background-image: url('http://lorempixel.com/output/technics-q-c-1920-1079-7.jpg');
    position: absolute;
    width: 100%;
    height: 1079px;
    button {
        background-color: DarkGray;
        border: 5px solid black;
        color: white;
        display: block;
        font-size: 36px;
        height: 80px;
        margin: 0 auto;
        text-transform: uppercase;
        width: 400px;
    }
    h1 {
        color: white;
        font-size: 60px;
        margin-top: 200px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }
}