@include respond-to(mobile) {
    #hero-photo {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
        background-image: url('http://lorempixel.com/output/technics-q-c-1920-1079-7.jpg');
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
        padding: 0 4px;
        position: absolute;
        top: 80px;
        width: 100%;
        height: 600px;
        z-index: 1;
        h1 {
            color: white;
            font-size: $font__size-5xl;
            margin-top: 100px;
            position: relative;
        }
    }
    #primary {
        text-align: center;
        hr {
            background-image: linear-gradient(to right, $color__border-button-top, $color__border-button-bottom);
            border: 0;
            height: 10px;
            width: 200px;
        }
    }
    #company-intro {
        background-color: white;
        margin-top: 1115px;
        margin-bottom: 180px;
        padding: 0 20px;
        h1 {
            color: black;
            font-size: $font__size-xxxlarge;
            line-height: $font__size-4xl;
        }
        p {
            text-align: left;
        }
        // .two-column {
        //     -webkit-column-count: 2; /* Chrome, Safari, Opera */
        //     -moz-column-count: 2; /* Firefox */
        //     column-count: 2;
        // }
    }
}

.case-studies {
    -webkit-clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 89%);
    background-image: url('https://unsplash.it/1920/1080');
    clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 89%);
    padding-top: 100px;
    text-align: center;
    height: 500px;
    h1 {
        font-size: 64px;
    }
}

.contact-us {
    div {
        box-sizing: border-box;
        display: inline-block;
        padding: 0 50px 200px;
    }
    h2 {
        text-align: center;
        font-size: 48px;
        text-transform: uppercase;
    }
    .contact-text {
        font-size: 24px;
        width: 40%;
    }
    .contact-form {
        width: 40%;
        form {
            input, textarea {
                display: block;
                margin: 10px;
                width: 80%;
            }
        }
    }
}