@include respond-to(mobile) {
    #colophon {
        background-color: $color__background-secondary;
        border-top: 1px solid white;
        padding: 25px 50px;
        div {
            box-sizing: border-box;
            display: inline-block;
        }
        .footer-logo {
            margin-top: 20px;
            text-align: center;
            width: 100%;
            span {
                color: white;
                display: block;
                font-size: $font__size-small;
                line-height: $font__size-medium;
                margin-top: 10px;
            }
            .logo {
                width: 130px;
            }
        }
        .footer-legal {

        }
    }
}