.site-branding {
    background-color: grey;
    display: inline-block;
    width: 40%;
    .site-title {
        margin-left: 100px;
    }
}

#site-navigation {
    background-color: lightgrey;
    display: inline-block;
    float: right;
    width: 50%;
    .menu-primary-menu-container {
        ul {
            li {
                padding: 30px;
                text-transform: uppercase;
            }
        }
    }
}